applications/obsolete/sgmlkit/dtd/summary-0.7.dtd

<!--
  This is the summary DTD.  It's intended to describe the
  bibliographic information, and outline structure of, a document.

  Instances of this DTD will either be document instances, written by
  hand or generated from some other document format, or they will be
  architectural instances, typically (exclusively?) from the Starlink
  general DTD.

  Public identifier will be:

    "-//Starlink//DTD Document Summary 0.7//EN"

  It has no optional features.

  $Id$
-->

<!--
  Declare HyTime.  See General DTD for full discussion.
-->
<?IS10744 ArcBase HyTime>

<!ENTITY % DTD.Summary.Version 'DTD Document Summary 0.7'>

<!-- Define the AFDRMeta notation -->
<!NOTATION AFDRMeta PUBLIC 
	"ISO/IEC 10744:1997//NOTATION AFDR Meta-DTD Notation//EN">

<!NOTATION
	HyTime	-- A base architecture used in conformance with the
		   Architectural Form Definition Requirements of
		   International Standard ISO/IEC 10744. --

	PUBLIC 'ISO/IEC 10744:1997//NOTATION
                Hypermedia/Time-based Structuring Language (HyTime)//EN'
	>

<!ENTITY HyTime.DTD 
	PUBLIC 'ISO/IEC 10744:1997//DTD AFDR Meta-DTD
                Hypermedia/Time-based Structuring Language (HyTime)//EN'
	NDATA AFDRMeta
>


<!ATTLIST #NOTATION HyTime	
	-- cf. 10744:1997 11.1.1, Basic hyperlinking HyTime document --
	ArcFormA	NAME	HyTime
	ArcNamrA	NAME	HyNames
	ArcSuprA	NAME	sHyTime
	ArcIgnDA	NAME	HyIgnD
	ArcDocF		NAME	#FIXED	HyDoc
	ArcDTD		CDATA	"HyTime.DTD"
	ArcQuant	CDATA	#FIXED	"NAMELEN 9"
	ArcDataF	NAME	#FIXED	HyBridN
	ArcBridF	NAME	#FIXED	HyBrid
	ArcAuto		(ArcAuto|nArcAuto)	nArcAuto
	ArcOptSA	NAMES	"GenArc base links locs rend sched"

	-- Support attributes for HyTime only --
	hyqcnt		NUMBER	32
	GenArc		CDATA	"altreps INCLUDEd superdcn"
	base		CDATA	"bos"
	locs		CDATA	
			"nmsploc multloc refctl referatt refloc queryloc"
	links		CDATA	#FIXED	"hylink clink agglink traverse"
	exrefs		NAME	exrefs
	manyanch	NUMBER	2
>



<!--
  The only text which appears in the summary DTD, outside of section
  titles, is in the abstract.  However, there should be no markup in
  that text, and the routine which generates it should suppress any
  it finds.  

  In version 0.1 of this DTD, I INCLUDEd the %simplephrase elements
  from the Starlink General DTD.  However I've removed these, since
  (a) we don't really need the abstract at all, much less any markup
  within it, and (b) the presence of these here makes the elements
  architectural, so they show up in the body text when you extract an
  architectural instance from a General document.
-->
<![ IGNORE [
<!ENTITY % simplephrase	"em | strong | quote | code | kbd | cite">

<!-- Define all the simple markup elements -->
<!ELEMENT (%simplephrase) - - (#pcdata)>
]]>

<!--
  Include the same entities as are defined in the General DTD.  Note
  that, since documents marked up using this DTD are (always?) read as
  subdocuments, these other entities will probably never be defined
  (could LPDs define them?).  It's important that they're defined,
  less so that they're defined perfectly correctly.
-->
<!ENTITY % LaTeX.entities 'IGNORE'>
<!ENTITY % HTML.entities 'IGNORE'>

<![ %LaTeX.entities [
<!ENTITY % Additional.Char.Ents
	PUBLIC "-//Starlink//ENTITIES Additional entities//EN//LATEX">
<!ENTITY % ISOents
	PUBLIC  "ISO 8879:1986//ENTITIES Added Latin 1//EN//LATEX">
]]>
<![ %HTML.entities [
<!ENTITY % Additional.Char.Ents
	PUBLIC "-//Starlink//ENTITIES Additional entities//EN//HTML">
<!ENTITY % ISOents
	PUBLIC  "ISO 8879:1986//ENTITIES Added Latin 1//EN//HTML">
]]>
<!ENTITY % Additional.Char.Ents
	PUBLIC "-//Starlink//ENTITIES Additional entities//EN//PLAIN">
<!ENTITY % ISOents
	PUBLIC  "ISO 8879:1986//ENTITIES Added Latin 1//EN//PLAIN">

%Additional.Char.Ents;
%ISOents;


<!ELEMENT documentsummary O O (docinfo, docbody)>

<!--
  The URLLINKPOLICY attribute governs how we may produce HTML links to
  elements within the instance.  If the policy is "EXPLICIT", then
  elements to be linked to should have the URLPATH attribute present,
  and this will be used to construct the URL which references the
  element (this is appropriate for DocumentSummary instances produced
  from Starlink LaTeX files).  If the policy is "AUTOMATIC", then the
  URLPATH attribute should _not_ be present, and a URL will be
  generated by the stylesheet (appropriate for instances produced from
  the instances of the General DTD).  If the policy is "NONE", then no
  links will be generated.

  If EXPORTEDLINKPOLICY has the value "ONLYEXPORTED" then we may only
  link to elements which have the EXPORT attribute present; if it has
  the value "ALL", then we may link to all elements.
-->
<!ENTITY % version.attr "version CDATA #FIXED '%DTD.Summary.Version;'">
<!ATTLIST documentsummary
	urllinkpolicy		-- how do we link to targets described
				   in this summary? --
		(automatic | explicit | none)
		#REQUIRED
	urlpath			-- what is the URL of the `head'
				   document?  Required only if
				   URLLINKPOLICY is `explicit' --
		CDATA
		#IMPLIED
	exportedlinkpolicy	-- may we refer to non-exported targets? --
		(onlyexported | all)
		onlyexported
	%version.attr;			-- Version of this DTD --
	>

<!--
  DOCINFO element is much like that in the Starlink General DTD, with
  the inclusion of the type attribute to the docnumber element, and
  the removal of the history 
  element (this, and the omission of a date element, is temporary,
  until I can work out the best way of including something like this
  for DTDs which omit that element).

  For further discussion of the common elements, see the Starlink
  General DTD.
-->
<!ELEMENT docinfo 	O O (title & authorlist & keyword* & docnumber)>

<!ELEMENT title		O O (#PCDATA)	-- document title -->
<!ELEMENT authorlist	O O (author+, otherauthors?)
					-- contains author names -->
<!ELEMENT otherauthors	- O (author+)	-- other contributors -->
<!ELEMENT author	- O (#PCDATA)	-- contains author's name -->
<!ELEMENT keyword	- O (#PCDATA)	-- contains a keyword for document -->

<!--
  The content of the DOCNUMBER element is supposed to be the document
  number without version or release numbers, as in the General DTD.
  However, at present, the HISTORY element isn't INCLUDEd in this
  summary DTD, so it's legitimate to INCLUDE that here.  This DTD is
  intended purely as a transmitter of information, rather than an
  archive source.
-->
<!ELEMENT docnumber	- O (#PCDATA)	-- document number in series -->
<!ATTLIST docnumber
	documenttype
		(sug|sc|sg|sun|sgp|ssn|mud)
		#IMPLIED
		-- Which series is it part of --
	unassigned
		(unassigned)
		#IMPLIED
		-- indicates that no number has (yet?) been assigned
		   to this document, and so that any content should be
		   IGNOREd --
	>

<!ATTLIST author
	email		-- author's email address	--
		CDATA
		#IMPLIED
	webpage		-- author's home page		--
		CDATA
		#IMPLIED
	affiliation	-- author's physical address/affiliation, etc --
		CDATA
		#IMPLIED
	role		-- editor, maintainer, etc	--
		CDATA
		#IMPLIED	
	id		-- eg, initials, referred to in element UPDATE --
		ID
		#IMPLIED	-- required, in General DTD --
	>


<!--
  I don't need to INCLUDE routinelist in this content model, since my
  focus right now is on this DTD as a summary of links into the document,
  and routinelists aren't currently linkable in the General DTD.
-->


<!ELEMENT docbody 	O O ((docxref | label)*,
				abstract?, sect*, appendices?)>

<![ IGNORE [ <!ELEMENT abstract	- - ((#PCDATA | %simplephrase)*)> ]]>
<!ELEMENT abstract	- - (#PCDATA)>
<!ELEMENT sect          - O (subhead, (docxref | label)*, subsect*)>
<!ELEMENT subsect       - O (subhead, (docxref | label)*, subsubsect*)>
<!ELEMENT subsubsect    - O (subhead, (docxref | label)*, subsubsubsect*)>
<!ELEMENT subsubsubsect - O (subhead, (docxref | label)*)>

<!ELEMENT appendices	- O (sect+)>

<!ELEMENT subhead	O O (title)>

<!ATTLIST (sect|subsect|subsubsect|subsubsubsect)
	id			-- an ID for this section --
		ID
		#IMPLIED
	urlpath			-- if present, this is an explicit
				   setting for the URL which refers to
				   this element.  This is permissible
				   only if DOCUMENTSUMMARY has the
				   attribute URLLINKPOLICY set to
				   EXPLICIT. --
		CDATA
		#IMPLIED
	export			-- if present, the document commits
				   itself to maintaining this ID in
				   future: that is, it can safely be
				   linked to from outside --
		(export)
		#IMPLIED
	>


<!--
  Include DOCXREFs in the summary document.  See General DTD for
  discussion.
-->
<!ELEMENT docxref - O EMPTY	-- References to elements and data within other
				   Starlink documents -- 
	>
<!ATTLIST docxref
	doc			-- Starlink document which holds the target --
		ENTITY
		#REQUIRED
	loc			-- location within document, or whole document
				   if this is missing --
		CDATA
		#IMPLIED

	-- following are the HyTime attributes --
	loctype			-- declare addressing method --
		CDATA
		#FIXED "loc idloc"
	rflocsrc		-- declare that the LOC is a reference
				   relative to the document addressed by
				   DOC --
		CDATA
		#FIXED "loc doc"
	HyTime			-- bind to HyTime clink form --
		NAME
		#FIXED "clink"
	HyNames			-- bind id attribute to clink's linkend --
		CDATA
		#FIXED "linkend loc"
	>

<!--
  Labels a point in the document, for linking to by internal _or_
  _external_ documents.  The actual link target may be elsewhere, such
  as a section heading.  This has no analogue in the Starlink General
  DTD, but does have an analogue in the \xlabel macro in the Star2HTML
  LaTeX extensions (ie, \xlabel appears _within_ the body of sections,
  etc, rather than in the section itself).

  There is a case for adding this to the General DTD as well, and
  making the link target be the linkable object _containing_ this
  label, but I haven't implemented this yet.

  The URLPATH attribute gives the last part of the URL which should be
  used to link to this point.  A complete URL should be formed by
  tacking the content of this attribute to ... FIXME.
  At present, make the URLPATH attribute _required_.  It's only
  currently used when generating documentsummary documents from LaTeX
  source, and so should always be present, because the notation for
  locating sections within Star2HTML is different from the one
  generated by the SGML stylesheets.

  The export and urlpath attributes are currently required - this is
  sensible as long as this element is generated only from Star2HTML
  documents.  It could be relaxed if this element is used in other
  contexts, too.
 -->
<!ELEMENT label - O EMPTY>
<!ATTLIST label
	id			-- The ID which this document exports --
		ID
		#REQUIRED
	export			-- This location is linkable from
				   outside (see General DTD for
				   discussion). --
		(export)
		#REQUIRED
	urlpath			-- Suffix of URL which locates this part --
		CDATA
		#REQUIRED
	>
